<h2>Team History</h2>
<p>The team was founded at Highline High School during the 2010-2011 school.  A science teacher and a community member came together to form FIRST Robotics Team 3574. The team was soon joined by 10 students (8 from Highline and 2 from TEC High School) and several mentors.  The team had a successful season during their Regional Competition on the Cascade Field winning The Rookie All-Star Award and traveling to the World Championships in St. Louis, MO.

<h2>Team Mission</h2>
<p>The team is here to empower community members to grow through learning, building, and connecting.  We do this primarily through honing our STEAM Skills focusing on Science, Technology, Engineering, Arts, and Mathematics.</p>

<h2>Who Can Join</h2>
<p>Interested students and mentors in the area can join.  The team has evolved into a 4-H Team and includes students from the Highline School District, other area schools, and home schools.</p>

<h2>Contact</h2>
<p>We'd like to hear from you.  Email the <a href="mailto:yup@hitekerz.org">High Tekerz</a>.</p>
