<div class="well">
  <div class="panel-body">
    <h3>{{(memberToDisplay | async).firstName}} {{(memberToDisplay | async).lastName}}</h3>
    <p>Birthday: {{(memberToDisplay | async).birthdate}}</p>
    <p>Affiliation: {{(memberToDisplay | async).affiliation}}</p>
    <p>Role: {{(memberToDisplay | async).role}}</p>
    <p>Status: {{(memberToDisplay | async).status}}</p>
    <p>Email: {{(memberToDisplay | async).email}}</p>
    <p>Cell Phone: {{(memberToDisplay | async).cellPhone}}</p>
    <img src="{{(memberToDisplay | async).picture}}">
  </div>
</div>
