<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add New Member to Team</h3>
  </div>

  <div class="panel-body">
    <div>
      <label>First Name:</label>
      <input class="form-control" #firstName>
    </div>

    <div>
      <label>Last Name:</label>
      <input class="form-control" #lastName>
    </div>

    <div>
      <label>Birthdate:</label>
      <input class="form-control" #birthdate>
      <!-- <input class="form-control" type="date" #birthdate> -->
    </div>

    <div>
      <label>Affiliation:</label>
      <input class="form-control" #affiliation>
    </div>

    <div>
      <label>Role: </label>
      <select class="form-control" #role>
        <option value="Chairman">Chairman's Award</option>
        <option value="Design">Design Team</option>
        <option value="Drive">Drive Team</option>
        <option value="Electrical">Electrical Team</option>
        <option value="Fundraising">Fundraising Team</option>
        <option value="Hospitality">Hospitality Team</option>
        <option value="Marketing">Marketing Team</option>
        <option value="Programming">Programming Team</option>
      </select>
    </div>

    <div>
      <label>Status</label>
      <select class="form-control" #status>
        <option value="Student">Student</option>
        <option value="Mentor">Mentor</option>
        <option value="Alum">Alum</option>
        <option value="Parent">Parent</option>
      </select>
    </div>

    <div>
      <label>Picture (paste URL)</label>
      <input class="form-control" #picture>
    </div>

    <button (click)="submitForm(firstName.value, lastName.value, birthdate.value, affiliation.value, role.value, status.value, email.value, cellPhone.value, picture.value); firstName.value=''; lastName.value=''; birthdate.value=''; affiliation.value=''; role.value=''; status.value=''; email.value=''; cellPhone.value=''; picture.value='';">Add Member</button>

</div>
